@page "{id:int}"
@model RazorPagesMovie.Pages.Movies.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Album</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Movie.ID" />
            <div class="form-group">
                <label asp-for="Movie.Title" class="control-label"></label>
                <input asp-for="Movie.Title" class="form-control" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Artist" class="control-label"></label>
                <input asp-for="Movie.Artist" class="form-control" />
                <span asp-validation-for="Movie.Artist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Genre" class="control-label"></label>
                <input asp-for="Movie.Genre" class="form-control" />
                <span asp-validation-for="Movie.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Format" class="control-label"></label>
                <input asp-for="Movie.Format" class="form-control" />
                <span asp-validation-for="Movie.Format" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Label" class="control-label"></label>
                <input asp-for="Movie.Label" class="form-control" />
                <span asp-validation-for="Movie.Label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.CatNumber" class="control-label"></label>
                <input asp-for="Movie.CatNumber" class="form-control" />
                <span asp-validation-for="Movie.CatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
